.cartTransition{
    animation-name: animation1;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;

}

@keyframes animation1{

    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-4px);
    }
    100%{
        transform: translateY(0px);
    }

}